:root {
  --orange: #f9a826;
  --white: #ffffff;
  --purple: #6066d0cc;
  --purple-light: #6066d0b3;
  --dark-purple: #5256a1;
  
  --fw-bold: 700;
  
  --border-radius: 24px;
  --button-border-radius: 12px;
  --button-padding: 5px 19px;
  
  --fs-s: 18px;
  
  --ff-popins: 'Poppins', 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto,
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--ff-popins);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
